.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;

  min-height: 100vh;
  min-height: 100dvh;
  background-color: white;

  // background-image: url("../img/src/under.png");
  // background-image: url("../img/src/under2.png");
  // background-size: 1920px 950px;
  // background-size: 768px 1024px;
  // background-repeat: no-repeat;
  // background-position: top center;

  overflow: hidden;
}

.promo__content>* {
  background-color: rgba(255, 0, 0, 0.2);
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .promo__decor {
//   position: absolute;
//   top: -198px;
//   left: -250px;
//   rotate: -24deg;
//   width: 478px;
// }

// .promo__decor {
//   position: absolute;
//   top: -318px;
//   left: -441px;
//   rotate: -24deg;
//   width: 866px;
// }

// .promo__decor {
//   position: absolute;
//   top: clamp(-198px, -10.31vh, -318px);
//   left: clamp(-250px, -24.23vw, -441px);
//   rotate: -24deg;
//   width: clamp(478px, 47.5vw, 866px);
// }

// @media (min-width: 1920px) {
//   .promo__decor {
//     top: -318px;
//     left: -441px;
//     width: 866px;
//   }
// }

/*
.promo::before {
  content: "";
  position: absolute;
  // top: -318px;
  // left: -441px;
  // top: -33.47%;
  // left: -22.97%;
  rotate: -24deg;
  // width: 866px;
  // height: 714px;
  background-image: url("../img/src/vector.svg");

  width: 478px;
  height: 394px;
}

.promo::after {
  content: "";
  position: absolute;
  top: -475px;
  right: -541px;
  rotate: -77.43deg;
  width: 866px;
  height: 714px;
  background-image: url("../img/src/vector.svg");
}
*/

.promo__logo {
  margin-top: 80px;
  margin-bottom: 66px;
  // margin-top: 60px;
  // margin-bottom: 93px;
}

@media (min-width: 768px) {
  .promo__logo {
    margin-top: 100px;
    margin-bottom: 166px;
  }
}

@media (min-width: 1920px) {
  .promo__logo {
    margin-top: 60px;
    margin-bottom: 93px;
  }
}

//logo
.logo {
  display: inline-block;
  text-decoration: none;
}

.logo__image {
  width: 128px;
  height: 40px;

}

@media (min-width: 768px) {
  .logo__image {
    width: 190px;
    height: 60px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 36px;
  line-height: 1.04;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--blue) 39%, transparent);
}

@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 20px;
  }
}

@media (min-width: 1920px) {
  .promo__title {
    margin-bottom: 8px;
    font-size: 72px;
  }
}

.promo__description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  max-width: 286px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1920px) {
  .promo__description {
    margin-bottom: 32px;
    max-width: 423px;
    font-size: 18px;
  }
}

.promo__timer {
  margin-bottom: 40px;
}

@media (min-width: 1920px) {
  .promo__timer {
    margin-bottom: 72px;
  }
}


.timer-block {
  width: 100%;
  max-width: 310px;
  min-height: 82px;
  // display: flex;
  // align-items: start;

  // font-size: 72px;
  // line-height: 1;
  // font-weight: 600;
  // color: var(--blue);
}


@media (min-width: 768px) {
  .timer-block {
    max-width: 358px;
  }
}

@media (min-width: 1920px) {
  .timer-block {
    max-width: 588px;
    min-height: 129px;
  }
}

.timer-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 132px;
}

.timer-block__value {}

.timer-block__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 54px;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--white);
  background-image: url("../img/src/label.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__wait {
  // align-self: stretch;
  margin-bottom: 86px;
}

@media (min-width: 768px) {
  .promo__wait {
    margin-bottom: 169px;
  }
}

@media (min-width: 1920px) {
  .promo__wait {
    margin-bottom: 76px;
  }
}

//wait
.wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 100%;
  max-width: 320px;
}

@media (min-width: 1920px) {
  .wait {
    row-gap: 12px;
    max-width: 350px; //338
  }
}

.wait__text {
  align-self: end;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1920px) {
  .wait__text {
    font-size: 18px;
  }
}

.wait__button {
  position: relative;
  width: 240px;
  padding: 16px 41px 17px 28px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 40px;
}

.wait__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../img/src/arrow-right.svg");
}

.promo__subs {
  min-height: 141px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--blue);
}

@media (min-width: 768px) {
  .promo__subs {
    min-height: 160px;
    padding-top: 59px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1920px) {
  .promo__subs {
    min-height: 192px;
    margin-top: auto;
    padding-top: 61px;
    padding-bottom: 72px;
  }
}

.promo__subs-content {
  display: flex;
  justify-content: center;
}

.subs-form {}

.subs-form__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 280px;
  height: 41px;
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .subs-form__group {
    width: 360px;
  }
}

@media (min-width: 1920px) {
  .subs-form__group {
    width: 440px;
    height: 59px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
}


.subs-form__email {
  width: 100%;
  height: 100%;
  margin-left: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}

@media (min-width: 1920px) {
  .subs-form__email {
    margin-left: 18px;
    font-size: 18px;
  }
}

.subs-form__button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  aspect-ratio: 1;
  background-color: var(--red);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1920px) {
  .subs-form__button {
    width: 43px;
  }
}

.subs-form__button::before {
  content: '';
  width: 15.35px;
  aspect-ratio: 1;
  background-image: url('../img/src/arrow-right.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .subs-form__button::before {
    width: 20px;
  }
}