.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--clr-neutral-100);
  overflow: hidden;
}

.promo__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo::before,
.promo::after {
  content: "";
  position: absolute;
  width: var(--_width);
  height: var(--_height);
  background-image: url("../img/spot.svg");
  background-position: 0 0;
  background-size: var(--_width) var(--_height);
  background-repeat: no-repeat;
  pointer-events: none;
}

.promo::before {
  --_width: 366px;
  --_height: 302px;

  top: -166px;
  left: -201px;
  rotate: -24deg;
  animation: slideDecorBefore 2s forwards;
}

.promo::after {
  --_width: 642px;
  --_height: 530px;

  top: -377px;
  right: -408px;
  rotate: -84.96deg;
  animation: slideDecorAfter 2s forwards;
}

.promo__logo {
  margin-top: 60px;
  margin-bottom: 93px;

  animation: slideLogo 2s forwards;
}

.promo__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  animation: slideTitle 1s forwards;
}

.promo__description {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  max-width: 430px;
  text-align: center;
  color: color-mix(in srgb, var(--clr-neutral-900) 80%, transparent);
}

.promo__timer {
  margin-bottom: 72px;
}

.promo__wait {
  margin-bottom: 156px;
}

.promo__subs {
  min-height: 192px;
  margin-top: auto;
  padding-top: 61px;
  padding-bottom: 72px;
  background-color: var(--clr-primary-400);
}

.promo__subs-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 8px;
}

.promo__subs-form {
  margin-inline: auto;
  place-items: center;
  grid-column: 2 / 3;
  min-width: 440px;
}

.promo__subs-event {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-neutral-100);
  white-space: nowrap;
}

.promo__subs-event::after {
  content: "";
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  rotate: 90deg;
  transition: rotate .5s ease 0s;
}

.promo__subs-event:hover,
.promo__subs-event:focus {
  text-decoration: underline;
}

.promo__subs-event:hover::after,
.promo__subs-event:focus::after {
  rotate: 270deg;
}

@media (min-width: 768px) {
  .promo::before {
    --_width: 478px;
    --_height: 394px;

    top: -198px;
    left: -250px;
  }

  .promo::after {
    --_width: 866px;
    --_height: 714px;

    top: -501px;
    right: -516px;
    rotate: -86.33deg;
  }
}

@media (min-width: 1920px) {
  .promo::before {
    --_width: 866px;
    --_height: 714px;

    top: -318px;
    left: -441px;
  }

  .promo::after {
    top: -475px;
    right: -541px;
    rotate: -77.43deg;
  }
}

@media (max-width: 768px) {
  .promo__logo {
    margin-top: 100px;
    margin-bottom: 166px;
  }

  .promo__title {
    margin-bottom: 20px;
  }

  .promo__description {
    margin-bottom: 40px;
    max-width: 290px;
    font-size: 16px;
  }

  .promo__timer {
    margin-bottom: 40px;
  }

  .promo__wait {
    margin-bottom: 154px;
  }

  .promo__subs {
    min-height: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .promo__subs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .promo__subs-form {
    min-width: 0;
  }

  .promo__subs-event {
    margin-left: 0;
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .promo__logo {
    margin-top: 80px;
    margin-bottom: 66px;
  }

  .promo__title {
    margin-bottom: 16px;
  }

  .promo__wait {
    margin-bottom: 120px;
  }

  .promo__subs {
    min-height: 141px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .promo__subs-content {
    gap: 16px;
  }
}

@keyframes slideDecorBefore {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDecorAfter {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLogo {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideTitle {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  40% {
    opacity: 0;
    // transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}