:root {
  --indentation: 20px;

  --ff-primary: "Poppins", sans-serif;
  --ff-input: "Roboto", sans-serif;
  --ff-accordion: "SF Pro Display", sans-serif;

  --clr-primary-200: #135978;
  --clr-primary-300: #1D4169;
  --clr-primary-400: #162c4e;
  --clr-accent: #df2224;
  --clr-neutral-100: #ffffff;
  --clr-neutral-800: #121212;
  --clr-neutral-900: #000000;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}